# -*- coding: utf-8 -*-
#
# This file is part of Flask-WebpackExt
# Copyright (C) 2017 CERN.
#
# Flask-WebpackExt is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

-e git+git://github.com/inveniosoftware/pynpm.git#egg=pynpm
-e git+git://github.com/inveniosoftware/pywebpack.git#egg=pywebpack
